<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Facebook | Manage Posts</title>
</head>
<body>
<div th:switch="${facebookPosts}">
    <h2 th:case="null">No posts have been added yet.</h2>
    <div th:case="*">
        <h2>Facebook Posts</h2>
        <table>
            <thead>
            <tr>
                <th>Post Type</th>
                <th>Message</th>
                <th>URL</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="facebookPost : ${facebookPosts}">
                <td th:text="${facebookPost.facebookPostType}"></td>
                <td th:text="${facebookPost.message}"></td>
                <td th:text="${facebookPost.url}"></td>
                <td><a th:href="@{/facebook/edit-post/{id}(id=${facebookPost.id})}">Edit</a></td>
                <td><a th:href="@{/facebook/delete-post/{id}(id=${facebookPost.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<p><a href="/facebook/dashboard">Facebook Dashboard</a></p>
<p><a href="/facebook/new-post">Add a post</a></p>
</body>
</html>